.videos-page {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 300px;

  .get-videos-button {
    width: 200px;
    align-self: center;
  }

  .videos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .video-card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border: 1px #ccc solid;
    border-radius: 10px;
    padding: 10px;
    margin: 4px;

    &:hover{
      background: lightblue;
    }
  }
}
