.App {
  text-align: center;

  .nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    background: cadetblue;
    padding: 10px;
    margin: 0;

  }

  .nav-elm {
    margin: 0 10px;
  }

  .nav-link {
    text-decoration: none;
    color: #fff;

    &.active{
      color: darkblue;
    }
  }
}

body {
  background-color: #f4f4f4;
}


