.App {
  text-align: center;

  .nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .nav-elm {
    margin: 0 10px;
  }

  .nav-link {
    text-decoration: none;
    color: #333;
  }
}

body {
  background-color: #f4f4f4;
}


